<ion-header>
  <ion-toolbar style="--background: #315c5e;">
    <ion-title style="font-weight: bold; color: white;"> Go Flex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>

  <ion-row style="background-image: linear-gradient (#315c5e, white); height: 200px;">
  <ion-col class="mid-img">
    <div class="border-color">
      <div class="border-white">
        <ion-avatar style="height: 100px; width: 100px;">
        <ion-img src="../../assets/Logo Go Flex.jpg"> </ion-img>
        </ion-avatar>
      </div>
    </div>
  </ion-col>
</ion-row>

<ion-row style="height: 50px;"> </ion-row>

<ion-row>
  <ion-col>
    <div *ngIf="!connected">
        <ion-list>
          <ion-item>
            <ion-label color="dark" position="floating">Email : </ion-label>
            <ion-input color="dark" type="mail" [(ngModel)]="dataUser.email" > </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">Mot de passe : </ion-label>
            <ion-input color="dark" type="password" [(ngModel)]="dataUser.password"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating"> Code Entreprise : </ion-label>
            <ion-input color="dark" type="password"> </ion-input>
          </ion-item>
        </ion-list>
    </div>

    <div *ngIf="connected">
      <h1> Vous êtes bien connecté ! </h1>
      <ion-button (click)="logout()" color="danger"> Déconnexion </ion-button>
    </div>
  </ion-col>
</ion-row>

<ion-row style="height: 25px;"> </ion-row>
  <ion-row>
    <ion-col>
      <ion-button (click)="login()" expand="block"> Connexion </ion-button>
  </ion-col>
</ion-row>

<ion-row style="height: 25px;"> </ion-row>
  <ion-row>
    <ion-col>
      <ion-label color="dark" text-center>
        <p style="font-weight: bold; color: black; font-size: 16px;"> Ou connectez-vous avec : </p>
      </ion-label>
  </ion-col>
</ion-row>

<ion-row style="height: 10px;"> </ion-row>
<ion-row>
  <ion-col  style="display: flex; justify-content: center;">
    <ion-button color="primary" shape="round">
    <ion-icon slot="start" name="logo-facebook"></ion-icon>
      Facebook
    </ion-button>
  </ion-col>

  <ion-col style="display: flex; justify-content: center;">
      <ion-button color="google" color="danger" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
          Google
      </ion-button>
  </ion-col>
</ion-row>

</ion-grid>
</ion-content>
