<ion-header>
  <ion-toolbar>
    <ion-title>routerpage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row><ion-button routerLink="/page-accueil">homepage</ion-button></ion-row>
    <ion-row><ion-button routerLink="/connexion-entreprise">connexion entreprise</ion-button></ion-row>
    <ion-row><ion-button routerLink="/home">profil</ion-button></ion-row>
    <ion-row><ion-button routerLink="/page-accueil-entreprise">inscription ou connexion</ion-button></ion-row>
    <ion-row><ion-button routerLink="/inscription-entreprise">inscription entreprise</ion-button></ion-row>
  </ion-grid>
</ion-content>
