<ion-header>
  <ion-toolbar style="--background: #315c5e;">
    <ion-title style="font-weight: bold; color: white;"> Go Flex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-row style="background-image: linear-gradient (#315c5e, white); height: 200px;">
    <ion-col class="mid-img">
      <div class="border-color">
        <div class="border-white">
          <ion-avatar style="height: 100px; width: 100px;">
          <ion-img src="../../assets/Logo Go Flex.jpg"> </ion-img>
          </ion-avatar>
        </div>
      </div>
    </ion-col>
  </ion-row>

  <ion-row style="height: 100px;"> </ion-row>

  <ion-row>
    <ion-col style="text-align: center; color:#315c5e; font-weight: 600;">
      <h2>Qui êtes-vous ?</h2>
    </ion-col>
  </ion-row>

  <ion-row style="height: 100px;"> </ion-row>

  <ion-row>
    <ion-col style="display: flex; justify-content: center;">
      <ion-button shape="round" style="--background:#315c5e;">Connectez-vous</ion-button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col style="display: flex; justify-content: center;">
      <ion-button shape="round" fill="clear" style="--color: #315c5e;">Inscrivez-vous</ion-button>
    </ion-col>
  </ion-row>

  </ion-grid>
</ion-content>
