<ion-header>
  <ion-toolbar style="--background: #315c5e;">
    <ion-title style="font-weight: bold; color: white;"> Go Flex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>

  <ion-row style="background-image: linear-gradient (#315c5e, white); height: 200px;">
  <ion-col class="mid-img">
    <div class="border-color">
      <div class="border-white">
        <ion-avatar style="height: 100px; width: 100px;">
        <ion-img src="../../assets/Logo Go Flex.jpg"> </ion-img>
        </ion-avatar>
      </div>
    </div>
  </ion-col>
</ion-row>

<ion-row style="height: 25px;"> </ion-row>

<ion-row>
  <ion-col>
        <ion-list>
          <ion-item>
            <ion-label color="dark" position="floating">Nom d'entreprise : </ion-label>
            <ion-input color="dark" type="text"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating"> Email : </ion-label>
            <ion-input color="dark" type="mail"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">N° de téléphone : </ion-label>
            <ion-input color="dark" type="number"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">N° de TVA : </ion-label>
            <ion-input color="dark" type="text"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">Adresse : </ion-label>
            <ion-input color="dark" type="text"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">Nombre d'accès : </ion-label>
            <ion-input color="dark" type="number"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating" style="height: 50px;" >Insérer votre logo : </ion-label>
            <ion-input type="file" id="myFile" name="filename"> </ion-input>
          </ion-item>

          <ion-item>
            <ion-label color="dark" position="floating">Mot de passe : </ion-label>
            <ion-input color="dark" type="password"> </ion-input>
          </ion-item>

        </ion-list>
  </ion-col>
</ion-row>

<ion-row style="height: 15px;"> </ion-row>

<ion-row>
  <ion-col>
    <ion-button shape="round" style="--background:#315c5e; float: right; ">
    S'inscrire
    </ion-button>
  </ion-col>
</ion-row>

<ion-row style="height: 15px;"> </ion-row>

</ion-grid>
</ion-content>
