<ion-header>
  <ion-toolbar>
    <ion-title>slider</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content>
    <ion-app>
      <ion-content fullscreen class="ion-padding" scroll-y="false" style="--background: linear-gradient(#315c5e, white)" >
        <ion-slides>
          <ion-slide>
            <div class="slide">
              <div class="logos">
                <div class="border-color">
                  <div class="border-white">
                   <ion-avatar style="height: 100px; width: 100px;">
                    <ion-img src="../../assets/15.jpg"></ion-img>
                   </ion-avatar>
                  </div>
               </div>
              </div>
              <h2>Bienvenue</h2>
              <p>
                 <b>Go Flex</b> une Application qui facilite la vie que vous soyez employeur ou employé!
              </p>
              <p> <b>Swiper</b> </p>
            </div>
          </ion-slide>
          <ion-slide style="--background:white;">
            <img src="assets/5184408.png" />
            <h2>Principe</h2>
            <p style ="--color:#315c5e;">
              <b>Go Flex</b> Permet de fluidifier le processus d'encodage des trajets effectués qui sont rémunérés par l'entreprise peu importe la distance ou le moyen de locomotion choisie.
            </p>
            <p> <b>Swiper</b> </p>
          </ion-slide>
          <ion-slide>
            <img src="assets/zab1.png" />
            <h2>Autres fonctionalités</h2>
            <p style ="--color:black;">
              <b>Go Flex</b> vous met à disposition un système qui va vous permettre de profiter du covoiturage en seins de votre entreprise, et donc augmenter votre salaire mensuel juste en allant au travail ou tout simple de profiter du covoiturage pour aller gratuitement au travail.
            </p>
            <ion-button fill="clear">Continue <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
          </ion-slide>
        </ion-slides>
      </ion-content>
    </ion-app>
  </ion-content>


</ion-content>
